@*@model CybersecurityAwarenessPortal.Models.ThreatsOverviewModel*@
@{
    ViewBag.Title = "Internet Protection";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body {
            font: 400 15px Lato, sans-serif;
            line-height: 1.8;
            color: #818181;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        h2 {
            font-size: 24px;
            color: blue;
            font-weight: 500;
            margin-bottom: 30px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
        }

        .container-fluid {
            padding: 60px 50px;
            top: 150px;
        }

        .bg-grey {
            background-color: #f6f6f6;
        }

        .thumbnail {
            padding: 0 0 15px 0;
            border: none;
            border-radius: 0;
        }

            .thumbnail img {
                width: 100%;
                height: 100%;
                margin-bottom: 10px;
            }

        img #internet {
            height: 120%;
        }

        .navbar {
            margin-bottom: 0;
            background-color: #f4511e;
            z-index: 9999;
            border: 0;
            font-size: 15px !important;
            line-height: 1.42857143 !important;
            border-radius: 0;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .slideanim {
            visibility: visible;
        }

        p, li {
            text-align: left;
        }
    </style>
</head>
<body>
    <div id="portfolio" class="container-fluid text-center bg-grey">
        <h2 style="position:relative; top:0px;">Internet Protection</h2><br>
        <div class="row">
            <div @*class="col-sm-8"*@>
                <p>
                    The internet is very large, of course, and there are lots of different components that come with internet protection.
                    So, first, we'll cover search engine safety. Then, we'll hope into the benefits of web content filtering and what it is.
                    Then, we'll get into HTTPS, what are secure websites, and how to know if the website is secure.
                    Then, public Wi-Fi and some causes for concern when using public Wi-Fi. Then, finally, this internet of things that lots of people are talking about;
                    what it is, what you need to worry about with it, what security do you need to put in place.
                </p>
                <br />
            </div>

        </div>

        <div class="row text-center slideanim" style="position:relative; top:30px;">
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="~/Images/SES.png" @*alt="Paris"*@ style="height:183px;" width="400" height="320">
                    <h5><strong>Search Engine Safety </strong></h5>
                    <a class="btn btn-info" href="@Url.Action("SearchEngineSafetyView", "SearchEngineSafety")">Learn Search Engine Safety &raquo;</a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="~/Images/WCF.PNG" alt="New York" width="400" height="300">
                    <h5><strong>Web Content Filter </strong></h5>
                    <a class="btn btn-info" href="@Url.Action("WebContentFilterView", "WebContentFilter")">Learn Web Content Filter &raquo;</a>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="~/Images/HTTPS.PNG" alt="New York" style="height:183px;" width="400" height="320" id="internet">
                    <h5><strong> HTTPS </strong></h5>
                    <a class="btn btn-info" href="@Url.Action("HyperTextView", "HyperText")">Learn HTTPS &raquo;</a>
                </div>
            </div>
        </div>
        <div class="row text-center slideanim" style="position:relative; top:30px;">
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="~/Images/PublicWifi.PNG" @*alt="Paris"*@ width="400" height="300">
                    <h5><strong> Public Wifi </strong></h5>
                    <a class="btn btn-info" href="@Url.Action("PublicWifiView", "PublicWifi")">Learn Public Wifi &raquo;</a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="~/Images/IOT.PNG" alt="New York" style="height:182px;" width="400" height="300">
                    <h5><strong> Internet Of Things </strong></h5>
                    <a class="btn btn-info" href="@Url.Action("IOTView", "IOT")">Learn Internet Of Things &raquo;</a>
                </div>
            </div>

        </div>

        <div class="row" style="position:relative; top:30px;">
            @{
                CybersecurityAwarenessPortal.Models.UserProgressModel upm = new CybersecurityAwarenessPortal.Models.UserProgressModel();
                upm.EmployeeEmail = Session["username"].ToString();
                upm.EmployeeID = upm.GetEmployeeID();
                int attempt = upm.GetMaxAttemptsM3();
                upm.availAttempts = upm.GetAvailAttempts();
                if (attempt < upm.availAttempts)
                {
                    <a class="btn btn-success" href="@Url.Action("GamePage2", "Game")">Take The Quiz &raquo;</a>
                }
            }
            <a class="btn btn-danger" href="@Url.Action("Index","Home")">Home &raquo;</a>
        </div>
    </div>

</body>
