@model CybersecurityAwarenessPortal.Models.QuestionRecords

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GamePage2</title>
    <title>Game Shooting - Rotate</title>

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/mycss")/gamePageStyle.css" />

    <script src="@Url.Content("~/Content/myjs")/keyLogger.js"></script>
    <script src="@Url.Content("~/Content/myjs")/player.js"></script>
    <script src="@Url.Content("~/Content/myjs")/bullets.js"></script>
    <script src="@Url.Content("~/Content/myjs")/targets.js"></script>
    <script src="@Url.Content("~/Content/myjs")/utils.js"></script>
    <script src="@Url.Content("~/Content/myjs")/main.js"></script>
    <script src="@Url.Content("~/Content/myjs")/questionGenerator.js"></script>

    <style>
        #playerselection {
            background: url("/Content/myimages/background.png");
            width: 600px;
            height: 620px;
            left: 340px;
            top: 50px;
            position: absolute;
            display: none;
        }

        #playerChoice1, #playerChoice2, #playerChoice3, #playerChoice4, #playerChoice5, #nuzzleChoice1, #nuzzleChoice2, #nuzzleChoice3, #nuzzleChoice4, #nuzzleChoice5, #ammoChoice1, #ammoChoice2, #ammoChoice3, #ammoChoice4, #ammoChoice5 {
            width: 100px;
            height: 100px;
        }

        #gameBackGround {
            background: url("/Content/myimages/FinalMenu.gif");
            background-size: 1280px 720px;
            width: 1280px;
            height: 720px;
            position: absolute;
        }

        #gameEnqueryBackGround, #gameEndBackGround {
            background: url("/Content/myimages/FinalMenu.gif");
            background-size: 1280px 720px;
            width: 1280px;
            height: 720px;
            position: absolute;
            display: none;
        }
    </style>
</head>
<body>

    <div style="position:absolute; width:1280px;" id="gamePoint">
        <center>
            <br />

            <label style="font-size:25px;font-family: 'Comic Sans MS';">Game Point(s): </label>
            <br />
            <input type="text" id="pointEndGamePageLabel" name="userCorrect" value="0" style="background:#c7c7c7;text-align:center;width:50px;font-size:20px;" disabled />
        </center>
    </div>


    <div id="gameBackGround">
        <div id="playerselection">
            <center>
                <div>
                    <br>
                    <label style="font-size:30px;"><b>Shooter's Selection:</b></label><label id="shooterSelected">CHOOSE</label> <br>

                    <button onclick="player.playerChoice(0)" id="playerChoice1"><img style="height:100%; width:100%;" src="~/Content/myimages/player1.png"></button>
                    <button onclick="player.playerChoice(1)" id="playerChoice2"><img style="height:100%; width:100%;" src="~/Content/myimages/player2.png"></button>
                    <button onclick="player.playerChoice(2)" id="playerChoice3"><img style="height:100%; width:100%;" src="~/Content/myimages/player3.png"></button>
                    <button onclick="player.playerChoice(3)" id="playerChoice4"><img style="height:100%; width:100%;" src="~/Content/myimages/player4.png"></button>
                    <button onclick="player.playerChoice(4)" id="playerChoice5"><img style="height:100%; width:100%;" src="~/Content/myimages/player5.png"></button>
                    <br>
                    <br>
                </div>
                <div>
                    <br />
                    <label style="font-size:30px;"><b>Nuzzle Selection</b></label><label id="nuzzleSelected"></label><br>

                    <button onclick="player.shootPointer(0)" id="nuzzleChoice1"><b>Black</b></button>
                    <button onclick="player.shootPointer(1)" id="nuzzleChoice2"><b>Red</b></button>
                    <button onclick="player.shootPointer(2)" id="nuzzleChoice3"><b>Green</b></button>
                    <button onclick="player.shootPointer(3)" id="nuzzleChoice4"><b>Blue</b></button>
                    <button onclick="player.shootPointer(4)" id="nuzzleChoice5"><b>Frenzy</b></button>
                    <br>
                    <br>
                </div>
                <div>
                    <br />
                    <label style="font-size:30px;"><b>Ammunition Selection</b></label><label id="ammoSelected"></label><br>
                    <!-- -->
                    <button onclick="bullets.bulletPicked(0)" id="ammoChoice1"><img style="height:100%; width:100%;" src="~/Content/myimages/bullet1.png"></button>
                    <button onclick="bullets.bulletPicked(1)" id="ammoChoice2"><img style="height:100%; width:100%;" src="~/Content/myimages/bullet2.png"></button>
                    <button onclick="bullets.bulletPicked(2)" id="ammoChoice3"><img style="height:100%; width:100%;" src="~/Content/myimages/bullet3.png"></button>
                    <button onclick="bullets.bulletPicked(3)" id="ammoChoice4"><img style="height:100%; width:100%;" src="~/Content/myimages/bullet4.png"></button>
                    <button onclick="bullets.bulletPicked(4)" id="ammoChoice5"><img style="height:100%; width:100%;" src="~/Content/myimages/bullet5.png"></button>

                </div>
                <div>
                    <br>
                    <br>
                    <input type="button" onclick="startGame()" value="Begin Game" id="startButton" style="font-size:20px;" />
                </div>
            </center>
        </div>
    </div>
    <div id="gamepage">
        <center>
            <div>
                <h1 style="font-size:50px;font-family:Arial, Helvetica, sans-serif">Welcome, @Model.empEmail, @Model.empNum</h1>


                <label style="font-size:30px;"><b>There are two ways to play the game:</b></label><br />
                <br />
                <p style="width:800px; background: transparent;font-size:25px;">
                    1) Use the mouse to select the correct answer from the options given.<br />
                    <label style="font-size:30px;"><b>OR</b></label>
                    <br />2) Use the left and right arrow keys to move in the direction you desire and press the Space Bar to shoot at the answer of your choice.

                </p>
                <p style="width:800px; background: transparent;font-size:25px;">
                    <label style="font-size:30px;"><b>Score criteria:</b></label> <br />
                    <br />a) Each correct answer is worth 1 point. Each point is worth 10%.                                                                              <br />
                    b) 2 additional Game Point for the correct answer within 10 seconds,

                    <br />1 additional Game Point Over 10 seconds.<br />
                    c) You will recieve 1 bonus point for using the shooter.
                    <br />
                    <b>d) 1 bonus is worth 3% of the total marks.  </b>
                    <br />e) You need an overall score of <b>@Model.adminPassMark% </b>to pass the quiz.
                </p>
                <br />

                <input type="button" onclick="SelectionPlayer()" value="Start Quiz" id="startButton" style="font-size:40px;" />
                <!--<input type="button" onclick="" value="Quit Game" id="stopButton" />-->
            </div>
            <script>
                function SelectionPlayer() {
                    var playerselection = document.getElementById("playerselection");
                    var gamepage = document.getElementById("gamepage");

                    var optionClickedSound = document.getElementById("optionClicked");
                    optionClickedSound.play();
                    //var audio = new Audio('~/Content/mysound/clicked.mp3');
                    //audio.volume = 1;
                    //audio.play();
                    gamepage.style.display = "none";
                    playerselection.style.display = "block";
                }
            </script>
        </center>
    </div>
    <div id="gameEnqueryBackGround">
        <div id="enquery">
            <center>
                <div>
                    <br />
                    <label style="font-size:30px; ">Result:</label><br />
                    <p id="enqueryAnswer"></p>
                    <label id="stats" style="font-size:25px;">Correct/Incorrect</label><br />
                    <label style="font-size: 23px;"><b>Question:</b></label>
                    <table>
                        <tr><th id="enqueryQuestion" style="font-style:italic;font-size:20px;">Question Goes Here</th></tr>
                        <tr><td id="EnqueryOption" style="border:solid; width:420px;height:110px;text-align:center;font-size:30px;">U</td></tr>
                    </table>
                    <table style="text-align:center;">
                        <tr><th colspan="2"><label style="font-size:30px;">Current:</label><th></tr>
                        <tr>
                            <td style="width:200px;font-size:25px;">
                                <b>Correct</b><br /><label id="correctEnqueryLabel" style="font-size:20px;font-style:italic;">0</label>
                            </td>
                            <td style="width:200px;font-size:25px;">
                                <b>Incorrect</b><br /><label id="incorrectEnqueryLabel" style="font-size:20px;font-style:italic;">0</label>
                            </td>

                        <tr><td colspan="2"><div style="font-size:25px;font-style:oblique;"><label id="QuestionCountLabel" name="optionDLabelHidden">0</label><label>/10</label></div></td></tr>
                    </table>
                    <table style="text-align:center;">
                        <tr><td style="width:100px;font-size:25px;"><label><b>Point(s):</b></label><br /><label id="pointEnqueryLabel" style="font-size:20px;font-style:italic;">0</label></td><td><label style="font-size:25px;"><b>Elapsed Time (Seconds):</b></label><br /><label id="elapseLabel" style="font-size:20px;font-style:italic;">0</label></td><td><td style="width:100px;font-size:25px;"><b>Bonus:</b></label><br /><label id="bonusEnqueryLabel" style="font-size:20px;font-style:italic;">0</label><b><td></tr>
                    </table><br />
                    <input type="button" value="Next" onclick="EnableDisable()" style="font-size: 30px;" />
                </div>
            </center>
            <script>
                function EnableDisable() {
                    var x = document.getElementById("gamepage");
                    var question = document.getElementById("QuestionArea");
                    var optionA = document.getElementById("OptionA");
                    var optionB = document.getElementById("OptionB");
                    var optionC = document.getElementById("OptionC");
                    var optionD = document.getElementById("OptionD");
                    var targetSprite = document.getElementById("targetSprite");
                    var enq = document.getElementById("gameEnqueryBackGround");
                    var gamePoints = document.getElementById("gamePoint");

                    if (enq.style.display == "none") {
                        question.style.display = "none";
                        optionA.style.display = "none";
                        optionB.style.display = "none";
                        optionC.style.display = "none";
                        optionD.style.display = "none";
                        targetSprite.style.display = "none";
                        gamePoints.style.display = "none";
                        enq.style.display = "block";

                    } else {
                        question.style.display = "block";
                        optionA.style.display = "block";
                        optionB.style.display = "block";
                        optionC.style.display = "block";
                        optionD.style.display = "block";
                        targetSprite.style.display = "block";
                        gamePoints.style.display = "block";
                        enq.style.display = "none";

                    }
                    questGen.Question();
                }
            </script>
        </div>
    </div>
    <div id="gameEndBackGround">

        <div id="endgamepage">
            <center>
                <div>
                    @using (Html.BeginForm("GameStat", "Game", FormMethod.Post))
                    {
                        <center>
                            <br />
                            <label style="font-style:oblique;font-size:25px;"><b>Employee:</b></label><br />

                            <label style="font-style:oblique;font-size:25px;"><b>@Model.empEmail</b></label>
                            <br />
                            <br />
                            <label style="font-style:oblique;font-size:25px;">Employee's Number:</label><br />
                            <label style="font-style:oblique;font-size:25px;">@Model.empNum</label>
                            <br />
                            <br />

                            <label style="font-size:30px;"><b>Completed: </b></label> <label id="passfail" style="font-size:30px;font-style:oblique;">Pass or Fail</label>
                            <br />
                            <br />
                            <label style="font-size:25px;"><b>Attempt(s):</b></label>
                            <input type="text" id="currentAttemptLabel" name="userCorrect" value="0" style="background:#c7c7c7;text-align:center;width:50px;font-size:20px;" disabled />
                            <!--
                            <label style="font-size:25px;"><b>Game Point(s):</b></label>
                            <input type="text" id="pointEndGamePageLabel" name="userCorrect" value="0" style="background:#c7c7c7;text-align:center;width:50px;font-size:20px;" disabled />
                            -->
                            <br />
                            <br />
                            <br />
                            <label style="font-size:25px;"><b>Mark(%):</b></label>

                            <input type="text" id="userCorrectLabel" name="userCorrect" value="%" style="background:#c7c7c7;text-align:center;width:50px; font-size:20px;" disabled />
                            <br>
                            <br>
                            <table style="text-align:center;">
                                <tr>
                                    <th colspan="2">
                                        <label style="font-size:25px;"><b>Bonus:</b></label>
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        <label style="font-size:25px;"><b>Earned</b></label><br />
                                        <label id="bonusEarnedEndGamePageLabel" style="font-size:25px;font-style:oblique;">0</label>
                                    </td>
                                    <td>
                                        <label style="font-size:25px;"><b>Used</b></label> <br />
                                        <label id="bonusUsedEndGamePageLabel" style="font-size:25px;font-style:oblique;">0</label>

                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <label style="color:red;font-size:25px;font-style:oblique;">***Note: Only applicable below @Model.adminPassMark%***</label>
                                    </td>
                                </tr>

                            </table>
                            <br />
                            <br />
                            <input type="submit" value="Confirm" onclick="enableInputs()" style="font-size:30px;" />
                        </center>
                        <script type="text/javascript">
                            function enableInputs() {
                                var mark = document.getElementById("userCorrectLabel");
                                mark.disabled = false;
                            }
                        </script>
                    }
                </div>
            </center>
        </div>
    </div>
    <!--

    <img id ="img1" src="/Content/myimages/one.gif" />
    <img id ="img2" src="/Content/myimages/two.gif" />
    <img id ="img3" src="/Content/myimages/three.gif" />
    <img id ="img4" src="/Content/myimages/four.gif" />
        -->

    <div id="targetSprite">
        <div id="targetSprite1">
            <img id="img1" src="~/Content/myimages/Final5.gif" />
            <img id="img2" src="~/Content/myimages/final6.gif" />

            <!--
            <p id="image1">  </p>
            <p id="image2">  </p>

                -->
        </div>
        <div id="targetSprite2">
            <img id="img3" src="~/Content/myimages/Final7.gif" />
            <img id="img4" src="~/Content/myimages/final8.gif" />

            <!--
            <p id="image3">  </p>
            <p id="image4">  </p>
            -->
        </div>
    </div>
    <div>
        <div id="QuestionArea"><b><label id="questionLabel"> Question </label></b></div>
        <div id="OptionA"><h2 id="buttonA" onmouseover="hoverOption()" onclick="questGen.clickedResult(1)"></h2></div>
        <div id="OptionB"><h2 id="buttonB" onmouseover="hoverOption()" onclick="questGen.clickedResult(2)"></h2></div>
        <div id="OptionC"><h2 id="buttonC" onmouseover="hoverOption()" onclick="questGen.clickedResult(3)"></h2></div>

        <div id="OptionD"><h2 id="buttonD" onmouseover="hoverOption()" onclick="questGen.clickedResult(4)"></h2></div>
    </div>
    <script>
        function hoverOption() {
            var hover = document.getElementById("optionHover");
            hover.play();
        }
    </script>
    <div id="questionnaires">
        <label id="questionCounterLabel" name="optionALabelHidden">@Model.questionCounter</label>
        <label id="answerLabel" name="answerLabelHidden"></label>
        <label id="CorrectLabel" name="optionBLabelHidden">0</label>
        <label id="IncorrectLabel" name="optionCLabelHidden">0</label>
        <br />
        <label id="attemptLabel" name="optionDLabelHidden">@Model.attemptCount</label>
        <label id="adminPassMarkLabel" name="optionDLabelHidden">@Model.adminPassMark</label>

        <audio id="backgroundMusic">
            <source src="~/Content/mysound/backgroundMusic.mp3" type="audio/ogg">
            <source src="~/Content/mysound/backgroundMusic.mp3" type="audio/mpeg">
        </audio>

        <audio id="shotSoundTrack">
            <source src="~/Content/mysound/shotSoundTrack.mp3" type="audio/ogg">
            <source src="~/Content/mysound/shotSoundTrack.mp3" type="audio/mpeg">
        </audio>

        <audio id="optionHover">
            <source src="~/Content/mysound/hover.mp3" type="audio/ogg">
            <source src="~/Content/mysound/hover.mp3" type="audio/mpeg">
        </audio>

        <audio id="optionShot">
            <source src="~/Content/mysound/optionshot.mp3" type="audio/ogg">
            <source src="~/Content/mysound/optionshot.mp3" type="audio/mpeg">
        </audio>

        <audio id="optionClicked">
            <source src="~/Content/mysound/clicked.mp3" type="audio/ogg">
            <source src="~/Content/mysound/clicked.mp3" type="audio/mpeg">
        </audio>

        <audio id="optionShooting">
            <source src="/Content/mysound/shooting.mp3" type="audio/ogg">
            <source src="/Content/mysound/shooting.mp3" type="audio/mpeg">
        </audio>

        @if (Model != null)
        {
            if (Model.questionInfo.Count > 0)
            {
                <select id="questionSelect">
                    @foreach (var item in Model.questionInfo)
                    {
                        <option value="@Html.DisplayFor(m => item.question)"> @Html.DisplayFor(m => item.question) </option>
                    }
                </select>
                <select id="optionASelect">
                    @foreach (var item in Model.questionInfo)
                    {
                        <option value="@Html.DisplayFor(m => item.optionA)"> @Html.DisplayFor(m => item.optionA) </option>
                    }
                </select>
                <select id="optionBSelect">
                    @foreach (var item in Model.questionInfo)
                    {
                        <option value="@Html.DisplayFor(m => item.optionB)"> @Html.DisplayFor(m => item.optionB) </option>
                    }
                </select>
                <select id="optionCSelect">
                    @foreach (var item in Model.questionInfo)
                    {
                        <option value="@Html.DisplayFor(m => item.optionC)"> @Html.DisplayFor(m => item.optionC) </option>
                    }
                </select>
                <select id="optionDSelect">
                    @foreach (var item in Model.questionInfo)
                    {
                        <option value="@Html.DisplayFor(m => item.optionD)"> @Html.DisplayFor(m => item.optionD) </option>
                    }
                </select>
                <select id="answerSelect">
                    @foreach (var item in Model.questionInfo)
                    {
                        <option value="@Html.DisplayFor(m => item.answer)"> @Html.DisplayFor(m => item.answer) </option>
                    }
                </select>
            }
        }
    </div>
    <canvas id="canvas" width="1280" height="720">failed</canvas>
</body>
</html>